@charset "utf-8";
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
html {
	background: #eee;
	font-size: 1em;
}
body {
	opacity: 1;
	background: #F1F1F1;
	color: #999;
	font-size: 18px;
	line-height: 180%;
	font-family: "proxnova-light", Helvetica, Arial, sans-serif, system;
	font-size: 1em;
}
h1 {
	margin: 0;
	color: #555;
	font-size: 2.2em;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	line-height: 130%;
}
h2 {
	margin: 0;
	color: #555;
	font-size: 1.1em;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	line-height: 130%;
}
span {
	color: #999;
}
a {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
button {
	border: none;
	background: none;
}
.submit {
	height: 80px;
}
.submit a {
	padding: 20px 40px;
	height: 80px;
	border-bottom: 3px solid #4fc475;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #59d481;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	font-size: 20px;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
}
/* Structure */
#content {
	float: left;
	width: 100%;
	min-height: 200px;
}
#content.update {
	background: #59d481 url(https://portal.ehawaii.gov/assets/images/loading.gif) top 50px center no-repeat;
	background-size: 30px 30px;
	opacity: 1;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}
#content.update > * {
	opacity: .5;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}
#content.loading {
	background: url(https://portal.ehawaii.gov/assets/images/loading.gif) top 50px center no-repeat;
	background-size: 30px 30px;
}
#content.loading > * {
	opacity: .5;
}
#content > * {
	-webkit-animation-name: showContent;
	-webkit-animation-duration: .5s;
}
@-webkit-keyframes showContent {
	0% {
		-webkit-transform: scalex(.95);
		opacity: 0;
	}
	100% {
		-webkit-transform: scalex(1);
		opacity: 1;
	}
}
#main-nav {
	width: 100%;
	height: 47px;
	border-bottom: 3px solid rgba(0,0,0,0.1);
	background: #59d481;
	vertical-align: middle;
	text-align: center;
	line-height: 45px;
}
#main-nav a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	font-size: 20px;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
}
#main-nav a:hover {
	color: #FFF;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
/* Menu */
nav {
	position: relative;
	float: left;
	margin: 0 0 -4px 0;
	padding: 0;
	width: 100%;
	border-bottom: 4px solid rgba(0,0,0,0.1);
	z-index: 5;
}
nav ul {
	margin:0;
	padding:0;
	width: 100%;
	list-style:none;
}
nav ul li {
	float: left;
	width: 33.33%;
	border-right: 1px solid #DDD;
}
nav ul li a {
	display:block;
	float: left;
	margin-top: 1px;
	width: 100%;
	height: 80px;
	background-color: #F1F1F1;
	color: #777;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
	font-size: 18px;
	font-family: "proxnova-semibold", Helvetica, Arial, sans-serif, system;
	line-height: 80px;
}
nav ul li:last-child a {
	border: none;
}
nav ul li a:hover {
	background-color: #F5F5F5;
	color: #111;
}
/* Content section */
section {
	float: left;
	width: 100%;
	border: 1px solid #DDD;
	background: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
article {
	float: left;
	background: #fff;
	float: left;
	width: 100%;
	border-bottom: 1px solid #EEE;
}
article:last-child {
	border: none;
}
article ol {
	color: #999;
	font-size: 18px;
	font-family: "proxnova-light", Helvetica, Arial, sans-serif, system;
	line-height: 180%;
}
#home, #rankings, #pools, #schedule, #game-score {
	padding: 10% 5% 5% 5%;
	height: auto;
	border-top: none;
	border-bottom: 1px solid #DDD;
	background: #59d481;
	color: #fff;
	text-align: left;
	text-shadow: 0 3px 1px rgba(0,0,0,.1);
	font-size: 2.2em;
	line-height: 120%;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	line-height: none;
}
#ranking-header {
	float: left;
	padding: 10% 5% 5% 5%;
	height: auto;
	border-top: none;
	border-bottom: 1px solid #DDD;
	background: #FFF;
	color: #222;
	text-align: left;
	text-align: center;
	font-size: 28px;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	line-height: none;
	cursor: pointer;
}
.pools, #teams {
	float: left;
	width: 100%;
	height: 100px;
	border-top: none;
	background: #F9F9F9;
	border-bottom: 1px solid #DDD;
	color: #222;
	text-align: center;
	font-size: 28px;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	cursor: pointer;
}
.pools:last-of-type {
	border-bottom: 1px solid #DDD;
}
.pools h2 {
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
}
#teams h2 {
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
}
.pools:hover {
	background: #FFF;
}
.main-article {
	text-align: center;
}
#top-row {
	float: left;
	width: 100%;
	background: #bbb;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	font-family: "proxnova-semibold", Helvetica, Arial, sans-serif, system;
}
.inter-row {
	float: left;
	width: 100%;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: #DDD;
	color: #555;
	text-align: center;
	font-family: "proxnova-semibold", Helvetica, Arial, sans-serif, system;
}
.row {
	float: left;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #DDD;
	background: #EEE;
	color: #555;
	font-family: "proxnova-light", Helvetica, Arial, sans-serif, system;
}
.row:hover {
	background: #F5F5F5;
	cursor: pointer;
}
.top-column-40, .top-column-33, .top-column-30, .top-column-20 {
	float: left;
	padding: 3% 5%;
	border-right: 1px solid #bbb;
}
.column-40, .column-33, .column-30, .column-20 {
	float: left;
	padding: 3% 5%;
	border-right: 1px solid #DDD;
	font-family: "proxnova-light", Helvetica, Arial, sans-serif, system;
}
.top-column-40, .column-40 {
	width: 40%;
}
.top-column-33, .column-33 {
	width: 33.333%;
}
.top-column-30, .column-30 {
	width: 30%;
}
.top-column-20, .column-20 {
	width: 20%;
}
.video {
	width: 100%;
	height: 200px;
}
#score {
	float: left;
	text-align: center;
	width: 80%;
	margin: 0 10%;
	background: #FFF;
	border-bottom: 1px solid #DDD;
	padding: 5% 0;
}
#main {
	width: 100%;
	background: #FFF;
}
#main-article {
	padding: 0 10%;
}
form input[type='number'] {
	float: left;
	margin-bottom: 50px;
	width: 47%;
	height: 80px;
	border: 1px solid #DDD;
	background: #F9F9F9;
	color: #555;
	text-align: center;
	font-size: 28px;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	line-height: 80px;
}
form input[type='number']:first-of-type {
	margin-right: 6%;
	margin-left: 0;
}
form input[type='number']:focus {
	outline: none;
	background: #FFF;
}
label {
	position: relative;
	display: inline-block;
	margin-right: 5%;
	line-height: 40px;
	cursor: pointer;
}
label:before {
	position: absolute;
	left: -50px;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-bottom: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	content: "";
}
input[type=radio]:checked + label:before {
	color: #f3f3f3;  
	content: "\2022";
	text-align: center;
	font-size: 28px;
	line-height: 40px;
}
form input[type=checkbox] {
	display: none;
}
input[type=checkbox]:checked + label:before {
	color: #f3f3f3;
	content: "\2713";
	text-align: center;
	text-shadow: 1px 0 3px rgba(0, 0, 0, .2);
	font-size: 28px;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	line-height: 40px;
}
article.main-article:hover {
	cursor: pointer;
}
/* Include fonts */
p {
	font-size: 1em;
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "proxnova-light";
	src: url("../fonts/proxnova-light.eot");
	src: url("../fonts/proxnova-light.ttf");
	src: url("../fonts/proxnova-light.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "proxnova-regular";
	src: url("../fonts/proxnova-regular.eot");
	src: url("../fonts/proxnova-regular.ttf");
	src: url("../fonts/proxnova-regular.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "proxnova-semibold";
	src: url("../fonts/proxnova-semibold.eot");
	src: url("../fonts/proxnova-semibold.ttf");
	src: url("../fonts/proxnova-semibold.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "gotham-htf-thin";
	src: url("../fonts/gotham-htf-thin.eot");
	src: url("../fonts/gotham-htf-thin.ttf");
	src: url("../fonts/gotham-htf-thin.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "gotham-htf-book";
	src: url("../fonts/gotham-htf-book.eot");
	src: url("../fonts/gotham-htf-book.ttf");
	src: url("../fonts/gotham-htf-book.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "gotham-htf-medium";
	src: url("../fonts/gotham-htf-medium.eot");
	src: url("../fonts/gotham-htf-medium.ttf");
	src: url("../fonts/gotham-htf-medium.woff");
}