@charset "utf-8";
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
html {
	background: #eee;
}
body {
	opacity: 1;
	background: #F1F1F1;
	color: #999;
	font-size: 18px;
	line-height: 180%;
	font-family: "proxnova-light", Helvetica, Arial, sans-serif, system;
}
body.loading {
	opacity: .5;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}
h1 {
	color: #555;
	font-size: 36px;
	line-height: 130%;
	margin: 0;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
}
h2 {
	color: #555;
	font-size: 28px;
	line-height: 130%;
	margin: 0;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
}
span {
	color: #999;
}
p {
}
a {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
button {
	background: none;
	border: none;
}
.submit {
	height: 80px
}
.submit a {
	height: 80px;
	padding: 20px 40px;
	border-bottom: 3px solid #4fc475;
	text-align: center;
	background: #59d481;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	font-size: 20px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	color: #FFF;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.submit a:hover {
	color: #FFF;
	color: rgb(255,255,255,0.5);
}
/* Structure */
header {
	width: 100%;
	height: 47px;
	line-height: 45px;
	vertical-align: middle;
	border-top: 1px solid #61e68b;
	border-bottom: 3px solid #4fc475;
	background: #59d481;
	text-align: center;
}
header a {
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	font-size: 20px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	color: #FFF;
	text-decoration: none;
}
header a:hover {
	color: #FFF;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
/* Menu */
nav {
	width: 100%;
	height: 81px;
	background: #FFF;
}
nav ul {
	margin:0;
	padding:0;
	width: 100%;
	list-style:none;
}
nav ul li {
	float: left;
	width: 33.33%;
	border-right: 1px solid #DDD;
}
nav ul li a {
	display:block;
	float: left;
	width: 100%;
	height: 80px;
	margin-top: 1px;
	background-color: #F1F1F1;
	font-size: 18px;
	color: #777;
	vertical-align: middle;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
	text-align: center;
	text-decoration: none;
	font-family: "proxnova-semibold", Helvetica, Arial, sans-serif, system;
	line-height: 80px;
}
nav ul li:last-child a {
	border: none;
}
nav ul li a:hover {
	color: #111;
	background-color: #F5F5F5;
}
/* Content section */
section {
	width: 100%;
	background: #FFF;
	border: 1px solid #DDD;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
section header {
	background: #59d481;
	color: #fff;
	font-size: 38px;
	text-shadow: 0 2px 8px rgba(0,0,0,.33);
	height: auto;
	padding: 10% 5% 5% 5%;
	text-align: left;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	border-bottom: 1px solid #DDD;
	border-top: none;
	line-height: none;
}
article {
	float: left;
	width: 100%;
	padding: 5%;
	border-bottom: 1px solid #EEE;
}
article:last-child {
	border: none;
}
article ol {
	color: #999;
	font-size: 18px;
	line-height: 180%;
	font-family: "proxnova-light", Helvetica, Arial, sans-serif, system;
}
.main-article {
	text-align: center;
}
#top-row {
	background: #59d481;
	float: left;
	width: 100%;
	border-top: 1px solid #4fc475;
	border-bottom: 1px solid #4fc475;
	color: #FFF;
	font-family: "proxnova-semibold", Helvetica, Arial, sans-serif, system;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}
.inter-row {
	background: #DDD;
	float: left;
	font-family: "proxnova-semibold", Helvetica, Arial, sans-serif, system;
	color: #555;
	width: 100%;
	text-align: center;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.row {
	background: #EEE;
	border-bottom: 1px solid #DDD;
	float: left;
	font-family: "proxnova-light", Helvetica, Arial, sans-serif, system;
	color: #555;
	width: 100%;
	height: 100%;
}
.row:hover {
	background: #F5F5F5;
	cursor: pointer;
}
.top-column-40, .top-column-33, .top-column-30, .top-column-20 {
	float: left;
	padding: 3% 5%;
	border-right: 1px solid #4fc475;
}
.column-40, .column-33, .column-30, .column-20 {
	float: left;
	padding: 3% 5%;
	font-family: "proxnova-light", Helvetica, Arial, sans-serif, system;
	border-right: 1px solid #DDD;
}
.top-column-40, .column-40 {
	width: 40%;
}
.top-column-33, .column-33 {
	width: 33.333%;
}
.top-column-30, .column-30 {
	width: 30%;
}
.top-column-20, .column-20 {
	width: 20%;
}
.video {
	width: 100%;
	height: 200px;
}
form {
	text-align: center;
}
form input[type='number'] {
	float: left;
	text-align: center;
	height: 80px;
	line-height: 80px;
	width: 47%;
	border: 1px solid #DDD;
	color: #555;
	font-size: 28px;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
	background: #F9F9F9;
	margin-bottom: 50px;
}
form input[type='number']:first-of-type {
	margin-right: 6%;
	margin-left: 0;
}
form input[type='number']:focus {
	outline: none;
	background: #FFF;
}
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-right: 5%;
	line-height: 40px;
}
label:before {
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	left: -50px;
	border-bottom: 1px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type=radio]:checked + label:before {  
	content: "\2022";
	color: #f3f3f3;
	font-size: 28px;
	text-align: center;
	line-height: 40px;
}
form input[type=checkbox] {
	display: none;
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 0 3px rgba(0, 0, 0, .2);
	font-size: 28px;
	color: #f3f3f3;
	text-align: center;
	line-height: 40px;
	font-family: "gotham-htf-medium", Helvetica, Arial, sans-serif, system;
}
article.main-article:hover {
	cursor: pointer;
}
/* Include fonts */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "proxnova-light";
	src: url("../fonts/proxnova-light.eot");
	src: url("../fonts/proxnova-light.ttf");
	src: url("../fonts/proxnova-light.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "proxnova-regular";
	src: url("../fonts/proxnova-regular.eot");
	src: url("../fonts/proxnova-regular.ttf");
	src: url("../fonts/proxnova-regular.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "proxnova-semibold";
	src: url("../fonts/proxnova-semibold.eot");
	src: url("../fonts/proxnova-semibold.ttf");
	src: url("../fonts/proxnova-semibold.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "gotham-htf-thin";
	src: url("../fonts/gotham-htf-thin.eot");
	src: url("../fonts/gotham-htf-thin.ttf");
	src: url("../fonts/gotham-htf-thin.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "gotham-htf-book";
	src: url("../fonts/gotham-htf-book.eot");
	src: url("../fonts/gotham-htf-book.ttf");
	src: url("../fonts/gotham-htf-book.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "gotham-htf-medium";
	src: url("../fonts/gotham-htf-medium.eot");
	src: url("../fonts/gotham-htf-medium.ttf");
	src: url("../fonts/gotham-htf-medium.woff");
}